tab-page{
    
    $tabs-md-tab-min-height: 60px;
    $tabs-md-tab-icon-size: 2.4em;

    .tabs-md .tab-button[aria-selected=true] .icon {
    color: #052d3e !important; /*your  text color */
    // font-size: 40px;
    }

    .tabs-md .tab-button[aria-selected=false] .icon {  
    color: #29b6c5 !important; /* your background color*/
    background: #ffffff !important; /* your background coor*/
    // font-size: 40px;
    }

    .tabs-md .tab-button[aria-selected=false] {  
    color: #29b6c5 !important; /* your background color*/
    // font-size: 40px;
    // background: #ffffff !important; /* your background color*/
    }

    .tabs-md .tab-button[aria-selected=true] {
    color: #052d3e !important; /*your  text color */
    // font-size: 40px;
    }

    .tab-item .badge {
        background-color: yellow !important;
      }
}